.shop{
   box-shadow: 5px 5px 20px gray;
   position: relative;
   border-radius: 5px;
  
}


#shopImages{
    width: 300px;
    border-radius: 10px;
}
.text{
    margin-left: 10px;
    padding: 0px;
   padding-bottom: 30px;
    
}
.btn{
    width: 100%;
    background-color: #FFE0B3;
    border: none;
   transition: 0.5s;
   position: absolute;
   bottom: 0px;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 5px;
   
}
.btn:hover{
    background-color:orange ;
    transition: 0.5s;
}
.icon{
    width: 20px;
}
